<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Tap Log</title>
</head>
<body>
    <h1>Card Tap Log</h1>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Card UID</th>
            <th>Timestamp</th>
        </tr>
        {% for log in card_logs %}
            <tr>
                <td>{{ log.user_id }}</td>
                <td>{{ log.card_uid }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
