<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Smart Door Lock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <div class="login">
            <form method="post" action="{{ url_for('login') }}">
                <h1>Login</h1>
                <hr>
                <p>Smart Door Lock</p>
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
                <label for="username_email">Username Or Email</label>
                <input type="text" id="username_email" name="username_email" placeholder="example@gmail.com">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password">
                <button type="submit">Login</button>
                <button type="reset" value="reset">Reset</button>
            </form>
        </div>
        <div class="right">
            <img src="pintu1.jpeg" alt="Smart Door Lock Image">
        </div>
    </div>
    <div class="button-container">
        <a href="/register" class="register-btn">Don't have an account? Register</a>
    </div>

</body>
</html>
